
.App {
    font-family: sans-serif;
    /* text-align: center; */
    background-color: #f6f9fe;
    display: flex;
   

    width: 100% ;
  }
  .image-item {
    display: flex;
    margin: 10px 0;
    flex-direction:column;
   
  }
  .image-item__btn-wrapper {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
  }
  button {
    height: 40px;
  }
